.content-header {
	margin-bottom: 20px;
	padding: 0 5px;
	display: inline-block;
	border-radius: 2px;
	border: 2px solid $border-color;
	background-color: $box-shadow-color;
	font-weight: bold;
	text-transform: uppercase;
}
